# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Secrets
*.pem
*.key
.env
authelia/secrets/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Python
__pycache__/
*.pyc
venv/
